.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #17aaa3;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #f06d6d;
  border: 1px solid #880101;
  color: white;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #f31621;
  color: white;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
  color: white;
}

.BuildControl .Less {
  background-color: #17aaa3;
  color: white;
  border: 1px solid white;
}

.BuildControl .More {
  background-color: white;
  color: #17aaa3;
  border: 1px solid #17aaa3;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: white;
  color: #17aaa3;
  border: 1px solid #17aaa3;
}

.BuildControl .More:active {
  background-color: white;
  color: #17aaa3;
  border: 1px solid #17aaa3;
}
.BuildControl .More:hover {
  background-color: #17aaa3;
  color: white;
  border: 1px solid white;
}
